
$codeBgColor = #fafafa//默认背景颜色


//重写样式
.function,code{
    color:#000 !important
}

.language-text{
    margin:0 0 !important
}
.theme-default-content:not(.custom),.page-nav{
max-width:1080px;
}
tr{
    border-top: none;
}
th,td{
border:none;
border-bottom:1px solid #dcdfe6;
text-align:center;
font-size:14px;
}
th{
color:#909399;
}
td{
color:#606266;
padding:15px;}
tr:nth-child(2n){
background-color:transparent;
}

